body {
    font-family: Raleway, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

header {
    width: 90%;
    margin: auto;
}

nav {
    text-align: right;
    padding: 30px 0px 30px 30px;
    margin-bottom: 25px;
}

nav a {
    color: #0065FC;
    font-weight: 480;
    font-size: 0.9em;
    margin: 75px;
    margin-bottom: 50px;
    margin-right: 0px;
}

#logo {
    float: left;
    height: 50px;
    width: auto;
    position: relative;
    bottom: 20px;
    right: 30px;
    padding: 0px;
}

li {
    display: inline-block;
    margin: 20px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding-left: 0px;
}

h1 {
    font-size: 26px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 18px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 30%;
}

input:focus {
    outline: none;
}

input {
    font-weight: bold;
    font-family: Raleway, Arial;
    font-size: 0.88em;
    text-align: left;
    padding-left: 20px;
    border: 1px solid whitesmoke;
    width: 70%;
}

button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: #F3F6F9;
    font-weight: 500;
    font-size: 1em;
    width: 28%;
    border: none;
}

button:hover {
    background-color: #3579D6;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
    border: 0px;
}

.filters {
    background-color: lightcoral;
    padding-left: 0;
}

.filters a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: gray;
}

.filters i {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    font-size: 16px;
    padding: 10px;
    margin-right: 0.5em;
}

.filter-category {
    border-radius: 35px;
    text-align: center;
    border: 1px solid RGB(220, 220, 220);
    padding-right: 1em;
    margin: 15px;
}

.filter-category:hover {
    background-color: whitesmoke;
}

#number-of-acc {
    font-size: 0.9em;
    font-weight: light;
    background-color: lightgreen;
}

.combined {
    display: flex;
    justify-content: space-around;
    width: 92%;
    margin: auto;
    flex-wrap: wrap-reverse;
}

.combined i {
    color: #0065FC;
    background-color: white;
    font-size: 0.6em;
}

.section-title {
    margin-top: 2.4em;
    margin-bottom: 1em;
    font-size: 1.2em;
    background-color: lightcoral;
}

.section-title-activities {
    width: 90%;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 1.5em;
    font-size: 1.2em;
}

.accommodations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 0 1em;
    width: 60%;
    flex-wrap: wrap;
    margin-right: 1.8em;
}

.rooms {
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;
}

/* .accommodations-result {
    padding-bottom: 0px;
    padding-left: 40px;
    margin: 0px auto;
    margin-top: 40px;
} */

.room-view {
    width: 29%;
    height: 10.5em;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.figure:hover {
    filter: brightness(95%);
    color: black;
}

.popular:hover {
    filter: brightness(95%);
    color: black;
}

.img-search {
    height: 6em;
    width: 95%;
    margin: auto;
    margin-bottom: 0;
    padding: 5px;
    padding-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.caption {
    padding-left: 15px;
    font-size: 14px;
    margin: 0;
    background-color: red;
}

.price {
    font-weight: normal;
    font-size: 12px;
    padding-left: 15px;
    margin: 0;
    background-color: yellow;
}

#show-more {
    font-size: 18px;
    margin-bottom: 0.9em;
    background-color: gray;
    margin: 2em;
    margin-left: 1em;
}

.most-popular {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 32%;
    background-color: lightseagreen;
}

/* #most-popular {
    padding: 20px;
    padding-bottom: 0px;
    padding-left: 40px;
} */

 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
 }

a:hover {
    color: #717778;
}

.caption-pop {
    padding-left: 25px;
    background-color: red;
}

.price-pop {
    font-weight: normal;
    font-size: 14px;
    background-color: yellow;
}

span {
    font-weight: bold;
}

figcaption {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

.popular {
    background-color: white;
    border-radius: 20px;
    height: 8em;
    width: 80%;
    margin-left: 2.5em;
    margin-bottom: 1.8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-popular {
    height: 7em;
    padding-top: 3px;
    padding-right: 10px;
    margin-right: 20px;
    padding-left: 3px;
    margin: 4px;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.picture {
    width: 100%;
    height: 8em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.act-caption {
    padding-bottom: 20px;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

footer {
    background-color: whitesmoke;
    height: 15em;
    width: 100%;
    
}

.footer-main {
    display: flex;
}

.footer-section {
    padding: 10px 10px;
    margin: 0px auto;
    width: 15em;
}

.footer-heading {
    font-size: 1.1em;
}

.footer-link{
    color: black;
    font-weight: 480;
    font-size: 0.8em;
}

.fa-map-marker-alt {
    font-size: 1.3em;
    color: black;
    background-color: whitesmoke;
    padding: 15px;
    padding-left: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 7%;
}

.most-popular i {
    color: #0065FC;
    background-color: white;
}

.icons {
    padding-left: 20px;
}

/* .icons-popular {
    padding-left: 20px;
    padding-top: 65px;
    margin: -1px;
} */

.fa-info {
    margin-left: 0px;
    color: #0065FC;
    border-radius: 50%;
    border: 1px solid #D7DCE3;
    width: 10px;
    height: 10px;
    text-align: center;
}

.fa-chart-line {
    color: black;
    font-size: 26px;
}

.activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-bottom: 4em;
}

#picture-a {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin: 1.5em;
    margin-left: 0;
    width: 23%;
    margin-top: 0;
    margin-bottom: 0;
}

#picture-b {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    width: 23%;
    margin-top: 0;
    margin-bottom: 0;
}

#picture-c {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1.5em;
    width: 23%;
    margin-top: 0;
    margin-bottom: 0;
}

#picture-d {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    margin-right: 0;
    width: 23%;
    margin-top: 0;
    margin-bottom: 0;
}

.activities a {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

.activities a:hover {
    color: #717778;
}

.activities p {
    padding-left: 1em;
}

#a {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-bottom: 2.6em;
}

#b {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#c {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2.6em;
}

#d {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media all and (max-device-width: 800px) {
    
    
    .nav-link {
        display: block;
        margin: 0;
    }

    header {
        display: block;
        margin: 0;
    }

    .combined {
        width: 100%;
        margin: 0;
    }

    .most-popular {
        width: 100%;
        margin: 0;
    }

    .popular {
        width: 90%;
        margin: auto;
    }

    .accommodations {
        width: 100%;
        margin: 0;
    }

    .rooms {
        flex-direction: column;
        margin: 0;
        flex-wrap: wrap;
    }

    .room-view {
        width: 100%;
        margin: auto;
        display: block;
    }

    .activities {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    #picture-a {
        width: 90%;
        margin: auto;
    }

    #picture-b {
        width: 90%;
        margin: auto;
    }
    
    #picture-c {
        width: 90%;
        margin: auto;
    }
    
    #picture-d {
        width: 90%;
        margin: auto;
    }

    footer {
        height: 25em;

    }

    .footer-main {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .footer-section {
        padding: 0;
        margin: auto;
    }

    .img-search {
        width: 95%;
        margin: auto;
        height: 8em;
    }

    .room-view {
        height: 13em;
    }

}